<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Migraine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1726F6C11C70492600AAF671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1726F6D51C70492600AAF671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1726F6E01C70492700AAF671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
